<div class="body">
   <nav>
      <div class="nav-wrapper black">
       <a class="brand-logo center amber-text">War Online</a>
     </div> 
   </nav> 
  <div class="content">
      <div class="card horizontal black">
        <div class="card-image">
          <img src="https://vignette.wikia.nocookie.net/dukenukem/images/8/81/Nuke_it_by_nukkus-d33nfil-1_1.jpg/revision/latest?cb=20111126093758">
        </div>
        <div class="card-stacked">
          <div class="card-content">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Nível
    <span class="caret"></span></button>
            <ul class="dropdown-menu">
    <li><a href="#">Fácil</a></li>
    <li><a href="#">Normal</a></li>
    <li><a href="#">Difícil</a></li>
  </ul>
</div>
		
			<h3 style="color:white">Créditos</h3>
			<ul style="color:white">
				<li>Arthur Vieira</li>
				<li>Gabriel Mantini</li>
				<li>Lucas Barros</li>
				<li>Rafael Skinner</li>
				<li>Victor Freitas</li>
				<li>Wellington Ferreira</li>
			</ul>
          </div>
        </div>
      </div>
  </div>

  <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container amber-text">
      © 2014 Copyright Text
      <a class="amber-text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>
