<div class="body">
  <nav>
     <div class="nav-wrapper lime darken-1">
       <a class="brand-logo center black-text">War Online</a>
     </div>
   </nav>
  <div class="content">
      <div class="card horizontal lime lighten-1">
        <div class="card-image">
          <img src="http://orig13.deviantart.net/894e/f/2012/299/2/f/profile_picture_by_fathom_radiation-d5izpar.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <a routerLink="game" class="waves-effect waves-light deep-orange btn">Novo Jogo</a>
            <a class="waves-effect waves-light deep-orange btn">Carregar Jogo</a>
            <a class="waves-effect waves-light deep-orange btn">Opções</a>
          </div>
        </div>
      </div>
  </div>

  <footer class="page-footer lime darken-1">
    <div class="footer-copyright">
      <div class="container black-text">
      © 2014 Copyright Text
      <a class="black-text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>
