<div class="body">
   <nav>
      <div class="nav-wrapper black">
       <a class="brand-logo center amber-text">War Online</a>
     </div> 
   </nav> 
  <div class="content">
      <div class="card horizontal black">
        <div class="card-image">
          <img src="https://vignette.wikia.nocookie.net/dukenukem/images/8/81/Nuke_it_by_nukkus-d33nfil-1_1.jpg/revision/latest?cb=20111126093758">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <a routerLink="game" class="waves-effect waves-light amber accent-4 animated pulse btn">Novo Jogo</a>
            <a class="waves-effect waves-light amber accent-4 btn">Carregar Jogo</a>
            <a class="waves-effect waves-light amber accent-4 btn">Opções</a>
          </div>
        </div>
      </div>
  </div>

  <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container amber-text">
      © 2014 Copyright Text
      <a class="amber-text right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>
