.content {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.card {
  width: 420px;
  height: 220px;
  margin-top: 84px;
}

.card.horizontal .card-image {
  display: flex;
  max-width: 30%;
  padding: 20px;
  align-items: center;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    width: 85px;
    height: 85px;
}

.card-content a{
  width: 100%;
  margin: 8px 4px
}

.page-footer {
  padding-top: 0;
}

.body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
